<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896673207184-u1sdvbv77sm5epp33qak1f91ceneo63i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896673207184-u1sdvbv77sm5epp33qak1f91ceneo63i</string>
	<key>API_KEY</key>
	<string>AIzaSyCBHx00DphQnI2mRHidZXl--aseBtp8xIA</string>
	<key>GCM_SENDER_ID</key>
	<string>896673207184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owaish.iChat</string>
	<key>PROJECT_ID</key>
	<string>ichat-1f031</string>
	<key>STORAGE_BUCKET</key>
	<string>ichat-1f031.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896673207184:ios:744d6c1d65aa11e6601915</string>
</dict>
</plist>